a {
	color: #AAAAFF;
	cursor: pointer;
	font-size: 18px;
}


.help {
	background-color: #FFFF88;
}


.help:before {
  content: url(help.png);
}


#error {
	background-color: #FFDDDD;
	color: #CC0000;
	position: absolute;
}


.code {
	font-family:Courier New;
	background-color: #CCCCCC;
	padding: 4px 4px 4px 4px;
	margin: 4px 4px 4px 4px;
}


.codetoinsert:after{
	content:"...";
	font-family:Arial;
}

.codetoinsert:before{
	content:"...";
	font-family:Arial;

}

.codetoinsert {
	color: #888888;
	background-color: #EEEEEE;
}


textarea {
	padding: 8px;
	font-size: 18px;
	color: white;
	background-color: black;
}



#hashtable {
	border-style: none;
	padding: 16px 16px 16px 16px;
	margin: 16px 16px 16px 16px;
}


#elements, #hash, #init {
	color: lightyellow;
}

#examples {
	background-color: rgb(0, 0, 54);
	width:100%;
	padding:8px;
}


#hashtable {
	background-color: #303030;
	height:100%;
}


body {
	color: white;
	background-color: black;
}


td {
	vertical-align: top;
}